[Unit]
Description=Start Optimized Service

[Service]
ExecStart=/bin/bash /home/tester/start_optimized.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
